body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f0eae5; /*light peach colour*/
}

.page {
  margin: 0 auto;
  max-width: 1500px;
  padding: 35px 50px 0;
  box-sizing: border-box;
}

h1 {
  font-size: 56px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.subtitle-container {
  width: 100%;
  margin: 30px auto;
  text-align: center;
  background-color: #E6E6FA;
  border-radius: 8px;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.subtitle-container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  color: #444;
  margin: 0;
}

.vis-container {
  width: 100%;
  margin-bottom: 20px;
  display: inline-block;
}

.centered-map {
  justify-content: center;
  align-items: center;
}

.hover-container {
  background-color: #f0eae5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px;
  margin-bottom: 20px;
}

.hover-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.description-right, .description-left {
  padding: 20px;
  background-color: #f0eae5;
  line-height: 1.5;
  font-size: 18px;
  height: 100%;
  box-sizing: border-box;
  margin-top: 0px;
  max-width: 48ch; /* 'ch' unit approximates the width of characters */
}

.description-right p:first-of-type,
.description-left p:first-of-type {
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px;
}

.description-adjust {
  margin-left: 100px; 
}

.description-vis5 {
  margin-left: 100px;  
}

.small-font {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  margin: 15px 0;
}

ul {
  padding-left: 20px;
  margin-top: 10px;
}

li {
  margin-bottom: 0.5em;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.vis-row {
  display: flex;
  margin-bottom: 20px;
}

.vis-col {
  flex: 1;
  padding: 10px;
}

@media (max-width: 768px) {
  .vis-row {
      flex-direction: column;
  }
  
  .vis-col {
      width: 100%;
  }
  
  .description-right, .description-left {
      margin-top: 20px;
  }
}
